<p id="notice"><%= notice %></p>

<h1>ぬるすたぐらむ</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>投稿内容</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.user.name %></td>
        <td><%= blog.content %></td>
        <td><button type="button" class="btn btn-primary"><%= link_to '見る', blog %></button></td>
        <% if blog.user_id == current_user.id %>
          <td><button type="button" class="btn btn-success"><%= link_to '編集する', edit_blog_path(blog) %></button></td>
          <td><buutton type="button" class="btn btn-danger"><%= link_to '削除する', blog, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        <% end %>
    <% end %>
    </tr>
  </tbody>
</table>

<br>
