<h1><%= @user.name %>のページ</h1>
<br>
<p>メールアドレス: <%= @user.email %></p>
<br>
<p>お気に入り一覧</p>
  <table class>
    <thead>
      <tr>
        <th>ユーザー</th>
        <th>投稿内容</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @favorites_blogs.each do |blog| %>
        <tr>
          <td><%= blog.user.name %></td>
          <td><%= blog.content %></td>
          <td><button type="button" class="btn btn-primary"><%= link_to '見る', blog %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>